# file extensions
**/*.pyc
**/*.h5
**/*.p
!test/test_data/*.p
*.swp
.coverage
*.log
*.png
*.jpg
*.jpeg
*.gif
*.err
*.out
*.xlsx

# folder
build/*
dist/*
neuralhydrology.egg-info/*
.vscode/*
.idea/*
runs/
configs/*
.ipynb_checkpoints/
data/*
docs/build/*
Experiments/HPC_random_search/results/*
Experiments/HPC_random_search/logs/
Experiments/HPC_random_search/outputs/*
Experiments/HPC_random_search/plots/*
Experiments/Calculate_mean_basin_rain_from_gauges/Train_single_model/logs/
Experiments/Calculate_mean_basin_rain_from_gauges/Train_single_model/plots/
Experiments/Calculate_mean_basin_rain_from_gauges/Train_single_model/results/*


slurm-scripts/*.out
/Static_parameters/~$feature_decisions.xlsx
/1laggerman hydrology-project main Scripts.zip
/1laggerman hydrology-project main utils.zip
/Data_gathering_and_arrangement/station_gantt_discontinuous.html
/Data_gathering_and_arrangement/all_stations_and_gauges_gantt_with_assessment.png
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/2.csv
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/2.xlsx
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/30175.csv
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/available_stations.csv
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/il_basin_shapes.cpg
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/il_basin_shapes.dbf
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/il_basin_shapes.prj
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/il_basin_shapes.shp
Experiments/Calculate_mean_basin_rain_from_gauges/files_samples/il_basin_shapes.shx
qc_log.csv
ne_110m_admin_0_countries.zip
Experiments/Calculate_mean_basin_rain_from_gauges/calculate_basin_average_rain.py
US_data/attributes/attributes_gageii_Bas_Classif.csv
US_data/attributes/attributes_gageii_Bas_Morph.csv
US_data/attributes/attributes_gageii_BasinID.csv
US_data/attributes/attributes_gageii_Bound_QA.csv
US_data/attributes/attributes_gageii_Climate_Ppt_Annual.csv
US_data/attributes/attributes_gageii_Climate_Tmp_Annual.csv
US_data/attributes/attributes_gageii_Climate.csv
US_data/attributes/attributes_gageii_FlowRec.csv
US_data/attributes/attributes_gageii_Geology.csv
US_data/attributes/attributes_gageii_Hydro.csv
US_data/attributes/attributes_gageii_HydroMod_Dams.csv
US_data/attributes/attributes_gageii_HydroMod_Other.csv
US_data/attributes/attributes_gageii_Landscape_Pat.csv
US_data/attributes/attributes_gageii_LC_Crops.csv
US_data/attributes/attributes_gageii_LC06_Basin.csv
US_data/attributes/attributes_gageii_LC06_Mains100.csv
US_data/attributes/attributes_gageii_LC06_Mains800.csv
US_data/attributes/attributes_gageii_LC06_Rip100.csv
US_data/attributes/attributes_gageii_LC06_Rip800.csv
US_data/attributes/attributes_gageii_Nutrient_App.csv
US_data/attributes/attributes_gageii_Pest_App.csv
US_data/attributes/attributes_gageii_Pop_Infrastr.csv
US_data/attributes/attributes_gageii_Prot_Areas.csv
US_data/attributes/attributes_gageii_Regions.csv
US_data/attributes/attributes_gageii_Soils.csv
US_data/attributes/attributes_gageii_Topo.csv
US_data/attributes/attributes_hydroATLAS.csv
US_data/attributes/attributes_nldas2_climate.csv
US_data/attributes/Var description_gageii.xlsx
US_data/attributes.7z
US_data/iv_scan_results.csv
US_data/basin_attribute_values_filtered.csv
US_data/mrms_coverage_by_basin.csv
US_data/mrms_unmatched_site_ids.csv
US_data/mrms_coverage_by_basin.csv
US_data/~$basin_state_distribution_excel.xlsx
US_data/basin_state_distribution_excel.xlsx
US_data/basin_state_distribution.csv
