# file extensions
**/*.pyc
**/*.h5
**/*.p
!test/test_data/*.p
*.swp
*.log
*.png
*.csv
*.html
*.pdf
*.npy

.coverage

# folder
build/*
dist/*
neuralhydrology.egg-info/*
.vscode/*
.idea/*
runs/
configs/*
.ipynb_checkpoints/
data/*
docs/build/*
results/
logs/
Experiments/HPC_random_search/logs/
Experiments/HPC_random_search/results/

Experiments/HPC_random_search/results/*

slurm-scripts/*.out
/Static_parameters/~$feature_decisions.xlsx
/1laggerman hydrology-project main Scripts.zip
/1laggerman hydrology-project main utils.zip
/Data_gathering_and_arrangement/station_gantt_discontinuous.html
/Data_gathering_and_arrangement/all_stations_and_gauges_gantt_with_assessment.png
*.log
Experiments/HPC_random_search/logs/
Experiments/HPC_random_search/results/
Experiments/HPC_random_search/logs/
Experiments/HPC_random_search/results/
